.cart {
    position: sticky;
    top: 0;
    padding-top: 100px;
    background-color: #ebf0f7;
    height: 100%;
    border-radius: 10px;
}

.break {
    margin-bottom: 30px;
    margin-top: 30px;
}



.user-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-icon img {
    width: 60px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width:425px) {
    .cart {
        background-color: aqua;
        width: 90%;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .button-group {
        display: flex;
        justify-content: center;
    }
}